body {
    background-color: #F5F7FA;
    font-family: 'Monserrat', 'Arial';
}

li {
    line-height: 24px;
}

/* Informacion Lateral */

.informacion-lateral {
    background-color: #1E2939;
    padding: 40px 0;
}

/* Contenido Principal */

.contenedor-principal {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    width: 1200px;
    margin: 40px auto; 
}
.informacion-general {

}

.primer-elemento-lista {
    background-color: aqua;
}

.descripcion {
    background-color: beige;
    margin-bottom: 40px;
}

.descripcion-profesion {
    font-size: 14px;
    font-weight: 700;
}

.proyectos {
}

.experiencia-laboral {
}

.educacion {
}

.titulo-lateral {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 50px;
}

.contactos, .habilidades-tecnicas, .habilidades-blandas {
    margin-left: 40px;
}

/* Contactos */

.tipo-contacto {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

.contacto-info {
    color: #8f949c;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

/* Sección de lista */

.lista-lateral {
    padding: 0;
    padding-left: 17px;
}

.lista-lateral > li {
    color: #FB6D3A;
}

.elemento-lista-lateral {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}